#wrapper {
    margin: 10px auto;
    width: 100%;
}

.jumbotron,
#accordion,
#photos,
.main-col div,
.main-col iframe {
    max-width: 1000px;
    margin: 0 auto;
    padding-top:0;
    text-align:left;
}

#accordion {
    text-align:center;
}

img {
    max-width:100%;
    
}

#wrapper a {
    color: #FF5C00;
}

#wrapper span.highlight {
    color: #F48A00;
}

#header {
}

#header .top {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

#header hgroup img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#header ul.navigation {
    list-style: none;
    margin-left: 120px;
}

#header .navigation li {
    display: inline
}

#header .navigation li a {
    display: inline-block;
    padding: 10px 15px;
    border-left: 1px solid #ccc;
}

.main-col {
    padding: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EEE;
    width:100%;
    font-size:18px;
    text-align:center;
}


div.register {
    margin-top: 30px
}

#wrapper button.register-project a {
    color: white;
}

#wrapper button.register-project a:hover {
    text-decoration: none;
}


.main-col a {
    color: #F48A00;
}



.main-col h3 {
    background-color: #EEE;
}


.main-col a:hover {
    text-decoration: underline;
}

.main-col h1, .main-col h2 {
    line-height: 1.2em;
    font-size: 32px;
    margin-bottom: 16px;
    font-weight: normal;
    color: #FF5C00;
    text-align: center;
}

.main-col h3 {
    margin-bottom: 18px;
}

h3 {
    font-weight:700;
}

.main-col p {

}

#footer {
    border-top: 1px solid #ccc;
    clear: both;
    text-align: center;
    padding: 10px;
    color: #aaa;
}
