{% extends 'HFFBaseBundle::layout.html.twig' %}

{% block title %}О проекте{% endblock%}

{% block body %}
    <header>
        <h1>О проекте</h1>
    </header>
    <article>
        <p>Здесь будет небольшое описание хакатона</p>
    </article>
{% endblock %}
