{% extends 'HFFBaseBundle::layout.html.twig' %}

{% block body %}
    <div class="jumbotron">
    
    HackForFuture: is a hackathon for people who want to help social and educational initiatives.
    
    <p><h3>What kind of an event is this?</h3>

An open laboratory is a place and time where designers, visual artists, hardware enthusiasts, architects, urban
activists, social entrepreneurs and pretty much everyone who is willing to put their heads as well as hands are
meeting to solve social problems and have some fun!</p>

<p><h3>When?</h3>

Chapter 3 of our lab will run 26 April-3 May. Stay tuned on
<a href="https://www.facebook.com/hackforfuture">Facebook page</a>, or better
<a href="http://meetup.us1.list-manage.com/subscribe/post?u=e3b2ab39032af453b70bbdbc1&amp;id=58cf5e94e5">subscribe to the
mailing list</a>. You may as well ping us via email: meetupby@gmail.com.</p>

<p>Our goals are experimentig with open technologies to build real solutions and have fun. 
We'll be hacking on technologies to solve problems that surround us: urban, social,
educational, cultural issues. We will use our heads and imagination. Everyone is welcome to bring new
materials, technologies and real-world objects. In the past we've built models of buildings,
3D-printer Mendel Prusa, and helped projects like Mivia to bring technology beyond hacking.</p>

<p>There are students and professionals. People with specific skills and with no skills at all. 
Architects, engineers, designers, real world interface designers in a broad sense - sound, tactile, graphic
- musicians, journalists, programmers, hackers and amateurs. People who are united by the idea to make
something useful out of scope of daily jobs and duties. Everybody brings his own set of skill and
expertise to join and help others.</p>

<p>We want to make people of different cultures meet together, get know each other better to find a communication
channel and collaborate regardless of any other boundaries.</p>

<p>If you have any ideas or already started your social project, laboratory of the future doesn't guarantee that
they will suddenly come to life, but what it can do is bring like-minded people of different expertises close
enough to have a spark of something that may result in a great collaboration. You projects of course depend on
you, but don't lose the opportunity to have more fun by helping others.</p>

<p>Before the main event there is a meeting where you can present ideas and project beforehand alone or with your team of
interesting people to have a chance to prepare better for the main stage and get answers to your questions.

But it is not required to attend the lab. Be open for others, roll up our sleeves and enjoy the magic!</p>

    <div class="register">
        <a class="register-project btn btn-primary btn-lg btn-block" href="{{ path('HFFBaseBundle_register_project') }}">Заявить проект</a>
        <a class="register-participant btn btn-default btn-lg btn-block" href="{{ path('HFFBaseBundle_register_participant') }}">Зарегистрироваться</a>
    </div>

    </div>

    <h3>Previous chapters - reports, photos</h3>

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Hack For Future 2: 16-17.11.2013
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Анонс пре-хакатон митапа - <a href="http://meetup.by/event/2013-11-09/pre-hakaton-mitap-hackforfuture2">http://meetup.by/event/2013-11-09/pre-hakaton-mitap-hackforfuture2</a></p>

                <p>Описание и программа хакатона 2 - <a href="http://meetup.by/hackforfuture2">http://meetup.by/hackforfuture2</a></p>

                <p>Отчет о том, как всё прошло - <a href="http://meetup.by/news/1449">http://meetup.by/news/1449</a></p>

                <p>&nbsp;</p>
                <h2>Проекты</h2>
                <h3>3D-принтер Mendel Prusa</h3>

                <p>- использование в прототипировании, творчестве и образовании. Продолжение с HackForFuture 1.0</p>

                <p>3d-принтер - это инструмент для решения широкого круга задач от создания уникальных моделей и прототипов до быстрого изготовления полезных вещей для домашнего пользования. Проект будет интересен как техническим специалистам, так и архитекторам, дизайнерам и художникам.</p>

                <p>&nbsp;</p>

                <h3>Говорящая архитектура</h3>

                <p>Cоздание аудио-тактильного макета Базильянского монастыря для экскурсии для слабовидящих и незрячих людей на базе raspberri PI + 3д-макета + &nbsp;колонки. Был создан макет бывшего костела базильянского монастыря, ныне концертный зал Верхний город, из пластика в масштабе 1:75 c встроенными датчиками, вызывающими определенную звуковую дорожку.</p>

                <p><a href="http://mivia.by">mivia.by</a></p>

                <p><a href="https://www.facebook.com/groups/119387538253222/">https://www.facebook.com/groups/119387538253222/</a></p>

                <p><a href="http://mivia.by">http://talaka.by/ru/projects/237</a></p>

                <p>&nbsp;</p>

                <h3>Анализ государственных данных,&quot;Безопасный город&quot;</h3>

                <p>Это информационно-справочный сайт для журналистов, городских активистов и простых граждан, работающий на основе данных суточной сводки происшествий Минского городского управления МЧС.</p>

                <p>С помощью сайта можно будет определить уровень и причины пожароопасности различных городских территорий, провести собственный анализ данных и научиться принимать необходимые меры безопасности и профилактики ЧC.</p>

                <p><a href="http://opendata.by/?p=2284">http://opendata.by/?p=2284</a></p>

                <p><a href="http://piratepad.net/hack-for-future-opendata">http://piratepad.net/hack-for-future-opendata</a>.</p>

                <p>Адрес сайта: <a href="http://gorbez.opendata.by">http://gorbez.opendata.by</a></p>

                <p>&nbsp;</p>

                <h3>Карта доступности</h3>

                <p>Сбор данных о доступности зданий и объектов городов Беларуси для людей с нарушениями зрения, слуха и опорно-двигательного аппарата, предоставление API для использования данных об объектах для навигации, создание карты в виде сайта для компьютера и мобильных телефонов (потенциально и мобильного приложения). В сотрудничестве с Офисом по правам людей с инвалидностью, Ассоциацией инвалидов-колясочников, Государственным комитетом по труду и социальной защите</p>

                <p><a href="http://tfhost.info/d2">tfhost.info/d2</a></p>

                <p>&nbsp;</p>

                <h3>Сны Незрячих</h3>

                <p>&mdash; это первый арт-проект для, о и про незрячих людей с участием творческой интеллигенции Беларуси и других стран. Основная задачи - привлечь внимание к вопросу адаптации и интеграции незрячих людей в современное общество посредством участия в арт проекте.</p>

                <p><a href="http://talaka.by/ru/projects/442">http://talaka.by/ru/projects/442</a></p>

                <p><a href="http://mivia.by">mivia.by</a></p>

                <p>&nbsp;</p>

                <h3>Серия видео-интервью о процессинге и параметрической архитектуре: эксперимент в подаче важной информации и общение с экспертами</h3>

                <p><a href="https://www.facebook.com/pages/Monogroup/218102261598443">https://www.facebook.com/pages/Monogroup/218102261598443</a></p>

                <p>&nbsp;</p>

                <h3>Крышечки как валюта</h3>

                <p>Мы выступаем за правильную переработку пластиковых крышечек от бутылок с напитками и использование их в качестве благотворительной валюты.</p>

                <p>&nbsp;</p>

                <h3>Альтернативный двор</h3>

                <p>Надежда Царенок</p>

                <p>Проект &quot;Альтернативный двор&quot; - это архитектурный проект целью которого является создание нового двора, где бы все его жители могли найти свое место, а не просто проходить мимо. Применение партисипативного дизайна (англ. participate) посредством созданного нами инструмента &quot;пасьянс&quot; позволило получить подробную информацию о конкретном дворе, его жителях и их ожиданиях от двора. На данный момент идет проработка всех элементов двора и их вариативность.</p>

                <p>&nbsp;</p>

                <h3>Карта доступности для велосипедистов</h3>

                <p>Джон Росмэн</p>

                <p>Маркировка препятствий на улицах движению велосипедистов, составление доступных маршрутов, привлечение внимание к проблеме вело-движения и вело-инфраструктуры в Минске. В ходе существующего проекта Минского велосипедного общества (МВО) уже</p>

                <p>были обозначены более 2.500 высоких бордюров на карте.</p>

                <p><a href="http://bike.org.by/map">http://bike.org.by/map</a></p>

                <p>&nbsp;</p>

                <h3>Электронный поводырь</h3>

                <p>Антон Васильев</p>

                <p>Создание дешёвого и компактного электронного сонара для слепых, позволяющего ориентироваться между препятствиями на улице. Используются открытые технологии, arduino, компоненты. доступные за минимальный бюджет на ebay.com или dealextreme.com</p>

                <p>&nbsp;</p>

                <h3>Минский Хакерспэйс: проект за 30 часов!</h3>

                <p><a href="http://hackerspace.by">hackerspace.by</a></p>

              </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Hack For Future 1: 23-24.3.2013
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Описание пре-хакатон митапа - <a href="http://meetup.by/event/2013-03-10/mitap-pre-hakaton">http://meetup.by/event/2013-03-10/mitap-pre-hakaton</a></p>

            <p>Описание и программа хакатона 1 - <a href="http://meetup.by/hackforfuture">http://meetup.by/hackforfuture</a></p>

            <p>Отчет о том, как всё прошло - <a href="http://monogroup.by/archives/11545">http://monogroup.by/archives/11545</a> , <a href="http://meetup.by/news/1118">http://meetup.by/news/1118</a></p>

            <p>&nbsp;</p>
            <h2>Проекты</h2>

            <h3>Экскурсии для слабовидящих</h3>

            <p>Подробнее о проекте - <a href="http://meetup.by/presentation/1067">http://meetup.by/presentation/1067</a> &nbsp;</p>

            <p>mivia.by</p>

            <p>&nbsp;</p>

            <h3>Сборка и отладка опенсорс 3д-принтера в режиме реального времени</h3>

            <p>Подробнее о проекте - <a href="http://meetup.by/presentation/1073">http://meetup.by/presentation/1073</a></p>

            <p>&nbsp;</p>

            <h3>Карта доступности Минска</h3>

            <p>Подробнее о проекте - <a href="http://meetup.by/presentation/1074">http://meetup.by/presentation/1074</a></p>

            <p>&nbsp;</p>

            <h3>Безопасный город</h3>

            <p>Использование открытых данных для визуализации проблемных мест с использованием данных МЧС и МВД.</p>

            <p><a href="http://meetup.by/idea/1133">Подробнее о проекте</a>.</p>

            <p>&nbsp;</p>

            <h3>&laquo;CityBot&raquo;</h3>

            <p>Новый тип городского обитателя. Проектируем прототипы для города и интерьера. <a href="http://meetup.by/presentation/1079">Подробнее о проекте. </a></p>

            <p><a href="http://monogroup.by/archives/11704">http://monogroup.by/archives/11704</a></p>

            <p><a href="https://www.facebook.com/CityBotEasaWorkshop?ref=hl">https://www.facebook.com/CityBotEasaWorkshop?ref=hl</a></p>

            <p>&nbsp;</p>

            <h3>Час Земли</h3>

            <p>Время с 20:30 до 21:30 - раз в году, когда люди этой планеты могут задуматься о своей роли в истории нашего общего родного дома. <a href="http://meetup.by/idea/1134">Подробнее о проекте</a>.</p>

          </div>
        </div>
      </div>
    </div>
    
            <div id="photos"></div>
                <iframe src="http://embedsocial.com/facebook_album/album_photos/230146050495787" width="900" height="1450" frameborder="0" scrolling="no" marginheight="0"  marginwidth="0"></iframe>

<!--


    What we do: 

We try to introduce urban activists, architects, graphic designers, bloggers/activists, journalists and educators/museum workers to new technologies and experimenting in cross-disciplinary teams and working to solve social problems together.

We organize hackathons for social projects (two bigger ones and three smaller ones already in the past two years), on using open data for better transparency and urban projects, visualizations for musicians/artists like shum; also working with a group of volunteers in Minsk building the first tactile museum exhibition for blind kids on Belarusian history/ethnography/architecture, a sound/tactile installation that uses technology but isn't tech-centric and solves a super-practical problem. There's a problem of teaching kids with sight disabilities about art, history and architecture when schools and state institutions have nearly zero budget for such things and no Braille handbooks and the kids aren't likely to use or know braille well in the future anyway as the touch type is dying out. We've got 3d printer that prints scaled models of historical buildings and other objects like small-scale columns and buildings, to substitute for the missing handbooks on history and culture. The kids say that the architecture lessons were the first time they've been able to even imagine what cities look like above ground level. The ethnography museum exhibition was also a hit. We're doing a set of arduino/raspberry pi enabled museum exhibits that are activated by touch, allow self-exploration by blind people and are expandable by design. We're planning to prepare 3d puzzle models of DNA for learning biology/genetics basics too and hope to expand into other subjects. We've done around 30 field trips and visits to museums with kids from schools for the blind and everyone's loving this approach.

On other initiatives we're trying to help:

- we're conducting a series of hack events/workshops for journalists willing to start working with the new big data analysis tools and using new research tools for producing data journalism pieces and information visualization. During one event, the teams built an interactive map of Minsk displaying fires and emergencies in Minsk, the first of its kind.

- http://water-control.by - a crowdsourced database and a map of water polltion sources (illegal dumps, illegal storage facilities for fertilizers/pesticides) that aren't yet addressed or monitored by authorities with a public petition tool for reporting the pollution cases to the authorities.

- an interactive installation during the Night of Museums, using motion capture technology, allowing visitors to "paint" masterpieces of art on a projection screen by moving their hands in the air.

- the cycling community's "map of illegal curbs and other obstacles to the bike movement and a how-to to working with the government to fixing them http://kerbs.bike.org.by
 

Observations: 

We're getting surprising results - women founders had better chances of carrying the project through and had more practical focus in general.

Male-dominated teams weren't just more 'techy' but also more on experimental side, hacking for hacking's sake. Girls did amazing grassroots work on the other hand: organized a 'creative workshop shack' for kids in an apartment block backyard as a playground/creative space for kids to congregate around instead
They also posed fun challenges that engineers enjoyed solving, arty and socially-focused ideas that just looked more polished and finished and more like long-term activities rather than one-off projects.

Eco-activists and journalists have lots of data that they never realized they could share. Now we are introducing people monitoring water pollution sources (fertilizer and pesticide dumps etc) to mapping activists and journalists to produce media investigations and other experiments

Getting "digital people" feel the taste of physical hacking had also very inspiring results. People want to print 3d maps of parks for people with sight disabilities, hack together radars notifying blind pedestrians about obstacles, make models of buildings, get a feel of different objects and how they could be audio- and touch-enabled with arduino/raspberry pi and used in museum and education environments etc 

-->

          </div>
        </div>
      </div>
    </div>
          


{% endblock %}
