{% extends 'HFFBaseBundle::layout.html.twig' %}

{% block body %}
    <div class="jumbotron">
    
    HackForFuture: a hackathon for people working on social and educational projects. 
    
    <p><h3>What kind of an event is this?</h3>

This is in an open laboratory of social and exprimental projects. A hackathon for designers, open hardware enthusiasts, architects, urban activists, social entrepreneurs and anyone willing to use their head as well as hands!
<h3>When?</h3>

The next edition of our lab will run 26 April-3 May (stay tuned for the group on <a href="https://www.facebook.com/hackforfuture">Facebook</a>, or even better - <a href="http://meetup.us1.list-manage.com/subscribe/post?u=e3b2ab39032af453b70bbdbc1&id=58cf5e94e5">subscribe to the mailing list</a> or ping us via email: meetupby@gmail.com )
Our goal is to build real solutions based on open source technology and, well, just experimenting and having fun. 
We'll be trying out hacks and new technologies to looking for answers to the problems that surround us: urban, social, educational, cultural issues to be solved. 
We will use our head, imagination, new materials and technologies, real-world objects: models of buildings, 3D-printer Mendel Prusa, furniture and other items ( a sample project : Mivia).
In Hackathon will be attended by architects , engineers, designers, real world ( interface designers in a broad sense - sound , tactile, graphic , flavoring ) , musicians , journalists , programmers, hackers and tech things , and all concerned .
We want to introduce representatives of IT- community with artists and musicians , hakerspeys - with architects, designers - with robotics , students and teachers - with the creators of 3D- printers.
If you have any ideas or have you already started your social project , but you do not have enough like-minded people or specific expertise , in our laboratory of the future you can find people with the necessary knowledge . Present the project and assemble a team can be in the first phase of Hackaton November 9 , and then roll up our sleeves and implement the project at one of our events.   <p>Наш Facebook <a href="https://www.facebook.com/hackforfuture">https://www.facebook.com/hackforfuture</a></p>
    </div>


  <div id="photos"></div>
                <iframe src="http://embedsocial.com/facebook_album/album_photos/230146050495787" width="670" height="1450" frameborder="0" scrolling="no" marginheight="0"  marginwidth="0"></iframe>



    What we do: 

We try to introduce urban activists, architects, graphic designers, bloggers/activists, journalists and educators/museum workers to new technologies and experimenting in cross-disciplinary teams and working to solve social problems together.

We organize hackathons for social projects (two bigger ones and three smaller ones already in the past two years), on using open data for better transparency and urban projects, visualizations for musicians/artists like shum; also working with a group of volunteers in Minsk building the first tactile museum exhibition for blind kids on Belarusian history/ethnography/architecture, a sound/tactile installation that uses technology but isn't tech-centric and solves a super-practical problem. There's a problem of teaching kids with sight disabilities about art, history and architecture when schools and state institutions have nearly zero budget for such things and no Braille handbooks and the kids aren't likely to use or know braille well in the future anyway as the touch type is dying out. We've got 3d printer that prints scaled models of historical buildings and other objects like small-scale columns and buildings, to substitute for the missing handbooks on history and culture. The kids say that the architecture lessons were the first time they've been able to even imagine what cities look like above ground level. The ethnography museum exhibition was also a hit. We're doing a set of arduino/raspberry pi enabled museum exhibits that are activated by touch, allow self-exploration by blind people and are expandable by design. We're planning to prepare 3d puzzle models of DNA for learning biology/genetics basics too and hope to expand into other subjects. We've done around 30 field trips and visits to museums with kids from schools for the blind and everyone's loving this approach.

On other initiatives we're trying to help:

- we're conducting a series of hack events/workshops for journalists willing to start working with the new big data analysis tools and using new research tools for producing data journalism pieces and information visualization. During one event, the teams built an interactive map of Minsk displaying fires and emergencies in Minsk, the first of its kind.

- http://water-control.by - a crowdsourced database and a map of water polltion sources (illegal dumps, illegal storage facilities for fertilizers/pesticides) that aren't yet addressed or monitored by authorities with a public petition tool for reporting the pollution cases to the authorities.

- an interactive installation during the Night of Museums, using motion capture technology, allowing visitors to "paint" masterpieces of art on a projection screen by moving their hands in the air.

- the cycling community's "map of illegal curbs and other obstacles to the bike movement and a how-to to working with the government to fixing them http://kerbs.bike.org.by
 

Observations: 

We're getting surprising results - women founders had better chances of carrying the project through and had more practical focus in general.

Male-dominated teams weren't just more 'techy' but also more on experimental side, hacking for hacking's sake. Girls did amazing grassroots work on the other hand: organized a 'creative workshop shack' for kids in an apartment block backyard as a playground/creative space for kids to congregate around instead
They also posed fun challenges that engineers enjoyed solving, arty and socially-focused ideas that just looked more polished and finished and more like long-term activities rather than one-off projects.

Eco-activists and journalists have lots of data that they never realized they could share. Now we are introducing people monitoring water pollution sources (fertilizer and pesticide dumps etc) to mapping activists and journalists to produce media investigations and other experiments

Getting "digital people" feel the taste of physical hacking had also very inspiring results. People want to print 3d maps of parks for people with sight disabilities, hack together radars notifying blind pedestrians about obstacles, make models of buildings, get a feel of different objects and how they could be audio- and touch-enabled with arduino/raspberry pi and used in museum and education environments etc 

            <h3>&laquo;CityBot&raquo;</h3>

            <p>Новый тип городского обитателя. Проектируем прототипы для города и интерьера. <a href="http://meetup.by/presentation/1079">Подробнее о проекте. </a></p>

            <p><a href="http://monogroup.by/archives/11704">http://monogroup.by/archives/11704</a></p>

            <p><a href="https://www.facebook.com/CityBotEasaWorkshop?ref=hl">https://www.facebook.com/CityBotEasaWorkshop?ref=hl</a></p>

            <p>&nbsp;</p>

            <h3>Час Земли</h3>

            <p>Время с 20:30 до 21:30 - раз в году, когда люди этой планеты могут задуматься о своей роли в истории нашего общего родного дома. <a href="http://meetup.by/idea/1134">Подробнее о проекте</a>.</p>

          </div>
        </div>
      </div>
    </div>
          


{% endblock %}
