{% extends 'HFFBaseBundle::layout.html.twig' %}

{% block body %}
    <div class="jumbotron">
    <p>Цель - построение реальных решений на базе открытых технологий и просто эксперименты и фан.
    Ищем ответы проблемам, которые нас окружают: городским, социальным, образовательным, культурным. Будем использовать голову, фантазию, новые материалы и технологии, объекты реального мира: макеты зданий, 3D-принтер, мебель и другие предметы (пример проекта: Mivia).</p>

    <p> В хакатоне примут участие архитекторы, инженеры, дизайнеры реального мира (разработчики интерфейсов в широком смысле - звуковых, тактильных, графических, вкусовых), музыканты, журналисты, программисты, хакеры вещей и технологий, и все заинтересованные.</p>

    <p>Мы хотим познакомить представителей IT-сообщества с художниками и музыкантами, хакерспейс - с архитекторами, дизайнеров - с робототехниками, студентов и преподавателей - с создателями 3D-принтеров.</p>

    <p>Если у вас есть идеи или вы уже начали свой социальный проект, но вам не хватает единомышленников или конкретных специалистов, то в нашей лаборатории будущего вы можете найти людей с необходимыми знаниями. Представить проект и собрать команду можно будет во время первого этапа хакатона 9 ноября, и потом засучить рукава и реализовать проект на одном из наших мероприятий.</p>
    </div>

    <h2>HackForFuture 2</h2>

    <p>Анонс митапа - <a href="http://meetup.by/event/2013-11-09/pre-hakaton-mitap-hackforfuture2">http://meetup.by/event/2013-11-09/pre-hakaton-mitap-hackforfuture2</a></p>

    <p>Анонс хакатона - <a href="http://meetup.by/hackforfuture2">http://meetup.by/hackforfuture2</a></p>

    <p>Отчет о хакатоне - <a href="http://meetup.by/news/1449">http://meetup.by/news/1449</a></p>

    <p>Линк на фэйсбук <a href="https://www.facebook.com/hackforfuture">https://www.facebook.com/hackforfuture</a></p>

    <p>&nbsp;</p>

    <h3>3D-принтер Mendel Prusa</h3>

    <p>- использование в прототипировании, творчестве и образовании. Продолжение с HackForFuture 1.0</p>

    <p>3d-принтер - это инструмент для решения широкого круга задач от создания уникальных моделей и прототипов до быстрого изготовления полезных вещей для домашнего пользования. Проект будет интересен как техническим специалистам, так и архитекторам, дизайнерам и художникам.</p>

    <p>&nbsp;</p>

    <h3>Говорящая архитектура</h3>

    <p>Cоздание аудио-тактильного макета Базильянского монастыря для экскурсии для слабовидящих и незрячих людей на базе raspberri PI + 3д-макета + &nbsp;колонки. Был создан макет бывшего костела базильянского монастыря, ныне концертный зал Верхний город, из пластика в масштабе 1:75 c встроенными датчиками, вызывающими определенную звуковую дорожку.</p>

    <p><a href="http://mivia.by">mivia.by</a></p>

    <p><a href="https://www.facebook.com/groups/119387538253222/">https://www.facebook.com/groups/119387538253222/</a></p>

    <p><a href="http://mivia.by">http://talaka.by/ru/projects/237</a></p>

    <p>&nbsp;</p>

    <h3>Анализ государственных данных,&quot;Безопасный город&quot;</h3>

    <p>Это информационно-справочный сайт для журналистов, городских активистов и простых граждан, работающий на основе данных суточной сводки происшествий Минского городского управления МЧС.</p>

    <p>С помощью сайта можно будет определить уровень и причины пожароопасности различных городских территорий, провести собственный анализ данных и научиться принимать необходимые меры безопасности и профилактики ЧC.</p>

    <p><a href="http://opendata.by/?p=2284">http://opendata.by/?p=2284</a></p>

    <p><a href="http://piratepad.net/hack-for-future-opendata">http://piratepad.net/hack-for-future-opendata</a>.</p>

    <p>Адрес сайта: <a href="http://gorbez.opendata.by">http://gorbez.opendata.by</a></p>

    <p>&nbsp;</p>

    <h3>Карта доступности</h3>

    <p>Сбор данных о доступности зданий и объектов городов Беларуси для людей с нарушениями зрения, слуха и опорно-двигательного аппарата, предоставление API для использования данных об объектах для навигации, создание карты в виде сайта для компьютера и мобильных телефонов (потенциально и мобильного приложения). В сотрудничестве с Офисом по правам людей с инвалидностью, Ассоциацией инвалидов-колясочников, Государственным комитетом по труду и социальной защите</p>

    <p><a href="http://tfhost.info/d2">tfhost.info/d2</a></p>

    <p>&nbsp;</p>

    <h3>Сны Незрячих</h3>

    <p>&mdash; это первый арт-проект для, о и про незрячих людей с участием творческой интеллигенции Беларуси и других стран. Основная задачи - привлечь внимание к вопросу адаптации и интеграции незрячих людей в современное общество посредством участия в арт проекте.</p>

    <p><a href="http://talaka.by/ru/projects/442">http://talaka.by/ru/projects/442</a></p>

    <p><a href="http://mivia.by">mivia.by</a></p>

    <p>&nbsp;</p>

    <h3>Серия видео-интервью о процессинге и параметрической архитектуре: эксперимент в подаче важной информации и общение с экспертами</h3>

    <p><a href="https://www.facebook.com/pages/Monogroup/218102261598443">https://www.facebook.com/pages/Monogroup/218102261598443</a></p>

    <p>&nbsp;</p>

    <h3>Крышечки как валюта</h3>

    <p>Мы выступаем за правильную переработку пластиковых крышечек от бутылок с напитками и использование их в качестве благотворительной валюты.</p>

    <p>&nbsp;</p>

    <h3>Альтернативный двор</h3>

    <p>Надежда Царенок</p>

    <p>Проект &quot;Альтернативный двор&quot; - это архитектурный проект целью которого является создание нового двора, где бы все его жители могли найти свое место, а не просто проходить мимо. Применение партисипативного дизайна (англ. participate) посредством созданного нами инструмента &quot;пасьянс&quot; позволило получить подробную информацию о конкретном дворе, его жителях и их ожиданиях от двора. На данный момент идет проработка всех элементов двора и их вариативность.</p>

    <p>&nbsp;</p>

    <h3>Карта доступности для велосипедистов</h3>

    <p>Джон Росмэн</p>

    <p>Маркировка препятствий на улицах движению велосипедистов, составление доступных маршрутов, привлечение внимание к проблеме вело-движения и вело-инфраструктуры в Минске. В ходе существующего проекта Минского велосипедного общества (МВО) уже</p>

    <p>были обозначены более 2.500 высоких бордюров на карте.</p>

    <p><a href="http://bike.org.by/map">http://bike.org.by/map</a></p>

    <p>&nbsp;</p>

    <h3>Электронный поводырь</h3>

    <p>Антон Васильев</p>

    <p>Создание дешёвого и компактного электронного сонара для слепых, позволяющего ориентироваться между препятствиями на улице. Используются открытые технологии, arduino, компоненты. доступные за минимальный бюджет на ebay.com или dealextreme.com</p>

    <p>&nbsp;</p>

    <h3>Минский Хакерспэйс: проект за 30 часов!</h3>

    <p><a href="http://hackerspace.by">hackerspace.by</a></p>

{% endblock %}
