{% extends 'HFFBaseBundle::layout.html.twig' %}

{% block body %}
    <div class="jumbotron">

    HackForFuture: a hackathon for people working on social and educational projects. </br>
    <a href="/about">About us in English</a>

    <div class="register">
        <a class="register-project btn btn-primary btn-lg btn-block" href="{{ path('HFFBaseBundle_register_project') }}">Заявить проект</a>
        <a class="register-participant btn btn-default btn-lg btn-block" href="{{ path('HFFBaseBundle_register_participant') }}">Зарегистрироваться</a>
    </div>
В это воскресенье, 27 апреля, пройдет митап - встреча и знакомство команд, авторов проектов в 12 часов в ЦЭХе. После этого неделя на подготовку, и ближайшая открытая лаборатория откроется 3-4 мая (следите за новостями <a href="https://www.facebook.com/hackforfuture"> в Фейсбуке</a>, а ещё лучше - <a href="http://meetup.us1.list-manage.com/subscribe/post?u=e3b2ab39032af453b70bbdbc1&amp;id=58cf5e94e5">подпишитесь на рассылку</a>


        <h3>Что это?</h3>
       <p> Двухдневная открытая лаборатория (формат хакатона) для людей с навыками работы руками и головой.</p>


        <h3>Цель</h3>
    <p>Попробуем найти реальные решения для городских, социальных, образовательных и культурных проблем. Если есть идея, которая сделает жизнь проще или интереснее, почему бы её не воплотить? Тем более, если в одном месте соберутся талантливые люди, и будут присутствовать необходимые компоненты для творчества: кофе, 3д-принтер, мате, верстаки, интернет, печеньки, живая музыка в перерывах и открытый внутренний дворик для чилаута.</p>

       <h3>Для кого?</h3>
    <p>Программисты с художниками и музыкантами, архитекторы с хакерспейс и журналистами, экологи с фанатами sci-fi, графические дизайнеры с робототехниками, студенты и преподаватели с создателями 3D-принтеров, дизайнеры реального мира (разработчики интерфейсов в широком смысле - звуковых, тактильных, графических, вкусовых) с музыкантами и т.д.
    </p>

    <h3>Как это действует?</h3>

    <p>Работаем два дня в формате открытой лаборатории - с утра субботы до вечера воскресенья. Используем голову, фантазию, новые материалы и технологии, объекты реального мира - макеты зданий, 3D-принтер, мебель и другие предметы. </p>

     <p>Есть идеи или уже стартоваший социальный проект, но вам не хватает единомышленников или конкретных специалистов, значит, лаборатория будущего - то самое место, где можно найти людей с необходимыми знаниями.
    </p>

        <p>Hack for future проходит уже в третий раз, и проекты, начавшиеся в 2013 году успешно развиваются и продолжают свою жизнь в реальном мире. </p>

    <h3>Что будет в этот раз?</h3>

    <p>Будущий Hack for future планирует сломать барьеры между местами, где хранится память и информация о культурном наследии, и людьми, которым необходимо не только смотреть, но и ощущать - для этого команды проектов попробуют представить место для новых технологий в музеях, школах и университетах, и разрабатывать прототипы образовательных экспонатов и интерактивных экспозиций, которые будут включать в себя звук, свет, motion capture, робототехнику. В числе участников - команды робота-гида, Прикосновение к Минску (тактильных экскурсии по архитектуре Минска для людей с проблемами зрения), полный список проектов внизу анонса.</p>

    <p>Кроме того, участников ждет бонус в виде дискуссий по инфографике для журналистов и всех, кто работает с визуальной информацией и по созданию видео. Уметь смонтировать промо/образовательное видео - важный скил для любого проекта (успех невозможен без треш-ролика на фэйсбуке :) Стоит не упустить возможность научиться это делать! Не исключено, что этим бонус-программа не ограничится. </p>

    <h3>Проекты Hack for future (предварительный список)</h3>
    <p>1. "Безопасный город"</p>
    Координатор проекта: Алексей Медвецкий, am@opendata.by
    <p>2. Робот – гид. </p>
    Хозяин проекта: СНИЛ «Робототехника» БрГТУ
    Координатор проекта: Касьяник Валерий, vvkasyanik@bstu.by
    <p>3. Музей «Мир на ощупь»</p>
    Координатор проекта: Ольга Сергеева, sergeevaolga.v@gmail.com
    <p>4. Карта доступности </p>
    Координатор проекта: Людмила Скрадаль, техническая координация - Глеб Канунников, glebon@gmail.com
    <p>5. Интерактивное музейное пространство</p>
    Координатор проекта: Наталья Немкова, n@monogroup.by
    <p>6. Подтверждается: Энциклопедия  белорусских орнаментов</p>




    </div>

    <h3>Предыдущие события - отчёты, фотографии</h3>

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Hack For Future 2: 16-17.11.2013
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Анонс пре-хакатон митапа - <a href="http://meetup.by/event/2013-11-09/pre-hakaton-mitap-hackforfuture2">http://meetup.by/event/2013-11-09/pre-hakaton-mitap-hackforfuture2</a></p>

                <p>Описание и программа хакатона 2 - <a href="http://meetup.by/hackforfuture2">http://meetup.by/hackforfuture2</a></p>

                <p>Отчет о том, как всё прошло - <a href="http://meetup.by/news/1449">http://meetup.by/news/1449</a></p>

                <p>&nbsp;</p>
                <h2>Проекты</h2>
                <h3>3D-принтер Mendel Prusa</h3>

                <p>- использование в прототипировании, творчестве и образовании. Продолжение с HackForFuture 1.0</p>

                <p>3d-принтер - это инструмент для решения широкого круга задач от создания уникальных моделей и прототипов до быстрого изготовления полезных вещей для домашнего пользования. Проект будет интересен как техническим специалистам, так и архитекторам, дизайнерам и художникам.</p>

                <p>&nbsp;</p>

                <h3>Говорящая архитектура</h3>

                <p>Cоздание аудио-тактильного макета Базильянского монастыря для экскурсии для слабовидящих и незрячих людей на базе raspberri PI + 3д-макета + &nbsp;колонки. Был создан макет бывшего костела базильянского монастыря, ныне концертный зал Верхний город, из пластика в масштабе 1:75 c встроенными датчиками, вызывающими определенную звуковую дорожку.</p>

                <p><a href="http://mivia.by">mivia.by</a></p>

                <p><a href="https://www.facebook.com/groups/119387538253222/">https://www.facebook.com/groups/119387538253222/</a></p>

                <p><a href="http://mivia.by">http://talaka.by/ru/projects/237</a></p>

                <p>&nbsp;</p>

                <h3>Анализ государственных данных,&quot;Безопасный город&quot;</h3>

                <p>Это информационно-справочный сайт для журналистов, городских активистов и простых граждан, работающий на основе данных суточной сводки происшествий Минского городского управления МЧС.</p>

                <p>С помощью сайта можно будет определить уровень и причины пожароопасности различных городских территорий, провести собственный анализ данных и научиться принимать необходимые меры безопасности и профилактики ЧC.</p>

                <p><a href="http://opendata.by/?p=2284">http://opendata.by/?p=2284</a></p>

                <p><a href="http://piratepad.net/hack-for-future-opendata">http://piratepad.net/hack-for-future-opendata</a>.</p>

                <p>Адрес сайта: <a href="http://gorbez.opendata.by">http://gorbez.opendata.by</a></p>

                <p>&nbsp;</p>

                <h3>Карта доступности</h3>

                <p>Сбор данных о доступности зданий и объектов городов Беларуси для людей с нарушениями зрения, слуха и опорно-двигательного аппарата, предоставление API для использования данных об объектах для навигации, создание карты в виде сайта для компьютера и мобильных телефонов (потенциально и мобильного приложения). В сотрудничестве с Офисом по правам людей с инвалидностью, Ассоциацией инвалидов-колясочников, Государственным комитетом по труду и социальной защите</p>

                <p><a href="http://tfhost.info/d2">tfhost.info/d2</a></p>

                <p>&nbsp;</p>

                <h3>Сны Незрячих</h3>

                <p>&mdash; это первый арт-проект для, о и про незрячих людей с участием творческой интеллигенции Беларуси и других стран. Основная задачи - привлечь внимание к вопросу адаптации и интеграции незрячих людей в современное общество посредством участия в арт проекте.</p>

                <p><a href="http://talaka.by/ru/projects/442">http://talaka.by/ru/projects/442</a></p>

                <p><a href="http://mivia.by">mivia.by</a></p>

                <p>&nbsp;</p>

                <h3>Серия видео-интервью о процессинге и параметрической архитектуре: эксперимент в подаче важной информации и общение с экспертами</h3>

                <p><a href="https://www.facebook.com/pages/Monogroup/218102261598443">https://www.facebook.com/pages/Monogroup/218102261598443</a></p>

                <p>&nbsp;</p>

                <h3>Крышечки как валюта</h3>

                <p>Мы выступаем за правильную переработку пластиковых крышечек от бутылок с напитками и использование их в качестве благотворительной валюты.</p>

                <p>&nbsp;</p>

                <h3>Альтернативный двор</h3>

                <p>Надежда Царенок</p>

                <p>Проект &quot;Альтернативный двор&quot; - это архитектурный проект целью которого является создание нового двора, где бы все его жители могли найти свое место, а не просто проходить мимо. Применение партисипативного дизайна (англ. participate) посредством созданного нами инструмента &quot;пасьянс&quot; позволило получить подробную информацию о конкретном дворе, его жителях и их ожиданиях от двора. На данный момент идет проработка всех элементов двора и их вариативность.</p>

                <p>&nbsp;</p>

                <h3>Карта доступности для велосипедистов</h3>

                <p>Джон Росмэн</p>

                <p>Маркировка препятствий на улицах движению велосипедистов, составление доступных маршрутов, привлечение внимание к проблеме вело-движения и вело-инфраструктуры в Минске. В ходе существующего проекта Минского велосипедного общества (МВО) уже</p>

                <p>были обозначены более 2.500 высоких бордюров на карте.</p>

                <p><a href="http://bike.org.by/map">http://bike.org.by/map</a></p>

                <p>&nbsp;</p>

                <h3>Электронный поводырь</h3>

                <p>Антон Васильев</p>

                <p>Создание дешёвого и компактного электронного сонара для слепых, позволяющего ориентироваться между препятствиями на улице. Используются открытые технологии, arduino, компоненты. доступные за минимальный бюджет на ebay.com или dealextreme.com</p>

                <p>&nbsp;</p>

                <h3>Минский Хакерспэйс: проект за 30 часов!</h3>

                <p><a href="http://hackerspace.by">hackerspace.by</a></p>

              </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Hack For Future 1: 23-24.3.2013
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Описание пре-хакатон митапа - <a href="http://meetup.by/event/2013-03-10/mitap-pre-hakaton">http://meetup.by/event/2013-03-10/mitap-pre-hakaton</a></p>

            <p>Описание и программа хакатона 1 - <a href="http://meetup.by/hackforfuture">http://meetup.by/hackforfuture</a></p>

            <p>Отчет о том, как всё прошло - <a href="http://monogroup.by/archives/11545">http://monogroup.by/archives/11545</a> , <a href="http://meetup.by/news/1118">http://meetup.by/news/1118</a></p>

            <p>&nbsp;</p>
            <h2>Проекты</h2>

            <h3>Экскурсии для слабовидящих</h3>

            <p>Подробнее о проекте - <a href="http://meetup.by/presentation/1067">http://meetup.by/presentation/1067</a> &nbsp;</p>

            <p>mivia.by</p>

            <p>&nbsp;</p>

            <h3>Сборка и отладка опенсорс 3д-принтера в режиме реального времени</h3>

            <p>Подробнее о проекте - <a href="http://meetup.by/presentation/1073">http://meetup.by/presentation/1073</a></p>

            <p>&nbsp;</p>

            <h3>Карта доступности Минска</h3>

            <p>Подробнее о проекте - <a href="http://meetup.by/presentation/1074">http://meetup.by/presentation/1074</a></p>

            <p>&nbsp;</p>

            <h3>Безопасный город</h3>

            <p>Использование открытых данных для визуализации проблемных мест с использованием данных МЧС и МВД.</p>

            <p><a href="http://meetup.by/idea/1133">Подробнее о проекте</a>.</p>

            <p>&nbsp;</p>

            <h3>&laquo;CityBot&raquo;</h3>

            <p>Новый тип городского обитателя. Проектируем прототипы для города и интерьера. <a href="http://meetup.by/presentation/1079">Подробнее о проекте. </a></p>

            <p><a href="http://monogroup.by/archives/11704">http://monogroup.by/archives/11704</a></p>

            <p><a href="https://www.facebook.com/CityBotEasaWorkshop?ref=hl">https://www.facebook.com/CityBotEasaWorkshop?ref=hl</a></p>

            <p>&nbsp;</p>

            <h3>Час Земли</h3>

            <p>Время с 20:30 до 21:30 - раз в году, когда люди этой планеты могут задуматься о своей роли в истории нашего общего родного дома. <a href="http://meetup.by/idea/1134">Подробнее о проекте</a>.</p>

          </div>
        </div>
      </div>
    </div>
            <div id="photos"></div>
                <iframe src="http://embedsocial.com/facebook_album/album_photos/230146050495787" width="900" height="1450" frameborder="0" scrolling="no" marginheight="0"  marginwidth="0"></iframe>




{% endblock %}
